$animation_duration: 0.3s;

.dropdown__heading__icon {
  img.opened {
    transition: transform $animation_duration ease-out;
    transform: rotate(0deg);
  }

  img.closed {
    transition: transform $animation_duration ease-out;
    transform: rotate(180deg);
  }
}

.dropdown.opened {
  max-height: 272px;
  transition: max-height $animation_duration ease-out 0ms;
}

.dropdown.closed {
  max-height: 54px;
  overflow: hidden;
  transition: max-height $animation_duration ease-out 0ms;
}

.dropdown__content.opened {
  transform: translateY(0);
  transition: transform $animation_duration ease-out 0ms;
}

.dropdown__content.closed {
  transform: translateY(-54px);
  transition: transform $animation_duration ease-out;
}
