@import "../utils/mixins";

.about__container {
  gap: 38px;

  .hero img {
    filter: brightness(0.6);
  }

  .valeurs {
    @include flex-column(30px);
    padding-inline: 208.5px;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .about__container {
    gap: 30px;

    .valeurs {
      gap: 25px;
      padding-inline: 150px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .about__container {
    gap: 25px;

    .valeurs {
      padding-inline: 100px;
    }
  }
}

@media screen and (max-width: 768px) {
  .about__container {
    gap: 20px;

    .valeurs {
      padding-inline: 50px;
    }
  }
}

@media screen and (max-width: 480px) {
  .about__container {
    gap: 19px;

    .valeurs {
      gap: 20px;
      padding-inline: 0px;
    }
  }
}
