@import "../utils/mixins";

.about__container {
  @include flex-column(38px);
  flex: 1;
  padding-inline: 100px;
  width: 100%;

  .hero img {
    filter: brightness(0.6);
  }

  .valeurs {
    @include flex-column(30px);
    padding-inline: 108.5px;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .about__container {
    gap: 30px;
    padding-inline: 75px;

    .valeurs {
      gap: 25px;
      padding-inline: 100px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .about__container {
    gap: 25px;
    padding-inline: 50px;

    .valeurs {
      padding-inline: 75px;
    }
  }
}

@media screen and (max-width: 768px) {
  .about__container {
    gap: 20px;
    padding-inline: 40px;

    .valeurs {
      padding-inline: 50px;
    }
  }
}

@media screen and (max-width: 480px) {
  .about__container {
    gap: 20px;
    padding-inline: 20px;

    .valeurs {
      gap: 20px;
      padding-inline: 0px;
    }
  }
}
