@import "../utils/variables";
@import "../utils/mixins";

.error {
  align-items: center;
  @include flex-column(139px);
  padding-block: 139px;

  &__heading {
    align-items: center;
    color: $orange;
    display: flex;
    font-size: 288px;
    font-weight: 700;
    height: 263px;
    justify-content: center;
    line-height: 142.6%;
  }

  &__text {
    align-items: center;
    color: $orange;
    display: flex;
    font-size: 36px;
    font-weight: 500;
    justify-content: center;
    line-height: 142.6%; /* 51.336px */
  }

  a {
    font-size: 18px;
    line-height: 142.6%; /* 25.668px */
    text-decoration-line: underline;
    font-weight: 500;
  }
}
