@import "../styles/variables";
@import "../styles/mixins";

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  // font-family: $fontFamily;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: #000;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

ul {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  padding-top: 45px;
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  #root {
    gap: 30px;
    padding-top: 35px;
  }
}

@media screen and (max-width: 1024px) {
  #root {
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  #root {
    padding-top: 25px;
  }
}

@media screen and (max-width: 480px) {
  #root {
    gap: 27px;
    padding-top: 20px;
  }
}

button {
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
}
