@import "../styles/variables";
@import "../styles/mixins";

$size: 340px;

a {
  text-decoration: none;
  color: inherit;
}

.thumb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-color: $backgroundColor;

  &__title {
    @include title;
    margin: 0;
    padding-inline: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .thumb {
    width: 100%;
    aspect-ratio: 1/0.761;

    &__title {
      @include title;
      padding-inline: 19.71px;
      padding-bottom: 15px;
    }
  }
}
