@import "../utils/variables";
@import "../utils/mixins";

.thumb {
  aspect-ratio: 1/1;
  background-color: $orange;
  border-radius: 10px;
  @include flex-column();
  justify-content: flex-end;
  width: 100%;

  &__title {
    @include title;
    margin: 0;
    padding-inline: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .thumb {
    width: 100%;
    aspect-ratio: 1/0.761;

    &__title {
      padding-inline: 19.71px;
      padding-bottom: 15px;
    }
  }
}
