@import "../utils/variables";
@import "../utils/mixins";

.thumb {
  aspect-ratio: 1/1;
  border-radius: 10px;
  @include flex-column();
  justify-content: flex-end;
  width: 100%;
  position: relative;

  &__img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__title {
    @include title;
    margin: 0;
    padding-inline: 20px;
    padding-bottom: 20px;
    position: absolute;
  }
}

@media screen and (max-width: 480px) {
  .thumb {
    width: 100%;
    aspect-ratio: 1/0.761;

    &__title {
      padding-inline: 19.71px;
      padding-bottom: 15px;
    }
  }
}
