@import "../utils/variables";

.dropdown {
  display: inline-flex;
  flex-direction: column;
  border-radius: 5px;

  &__heading {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background: $backgroundColor;
    cursor: pointer;
    z-index: 999;

    &__title {
      color: #fff;
      font-family: $fontFamily;
      font-size: 24px;
      font-weight: 700;
      line-height: 34.224px;
      cursor: pointer;
    }

    &__icon {
      width: 32px;
      height: 32px;

      img.opened {
        transition: transform 0.3s ease-out;
        transform: rotate(0deg);
      }

      img.closed {
        transition: transform 0.3s ease-out;
        transform: rotate(180deg);
      }
    }

    &__icon:hover {
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f6f6f673;
    border-radius: 10px 10px 5px 5px;
    padding: 25px 20px 20px 20px;

    span {
      font-family: $fontFamily;
      font-size: 18px;
      font-weight: 400;
      line-height: 25.668px;
    }
  }
}

.dropdown.opened {
  transition: max-height 200ms ease-out 100ms;
}

.dropdown.closed {
  transition: max-height 500ms ease-out 0ms;
}

.dropdown__content.opened {
  transition: transform 500ms ease-out 0ms;
}

.dropdown__content.closed {
  transition: transform 200ms ease-out 100ms;
}

.dropdown.opened {
  max-height: 272px;
}

.dropdown.closed {
  max-height: 54px;
  overflow: hidden;
}

.dropdown__content.opened {
  transform: translateY(0%);
}

.dropdown__content.closed {
  transform: translateY(-32%);
}

@media screen and (max-width: 768px) {
  .dropdown__heading {
    padding: 10px 20px 10px 10px;

    &__title {
      font-size: 18px;
      line-height: 25.668px;
    }
  }
}

@media screen and (max-width: 480px) {
  .dropdown.closed {
    max-height: 30px;
  }

  .dropdown__heading {
    padding: 10px 0px 10px 10px;
    height: 30px;

    &__title {
      font-size: 13px;
      line-height: 18.538px;
    }

    &__icon img {
      width: 20px;
      height: 20px;
    }
  }

  .dropdown__content {
    padding: 13px 20px 19px 20px;

    span {
      font-size: 12px;
      line-height: 17.112px;
    }
  }
}
